.adressMain {
    color: #8b8b8b;
}

.tdAdress {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    text-decoration: none !important;
}

.methodGet {
    background-color: var(--vgo-color-light);
    border-radius: 0.35rem!important;
    padding: 0.2rem 0.5rem;
    min-width: 68px;
    color: white;
}