:root {}

.blockNmb {
    color: rgb(94, 94, 94);
    font-size: 12px;
    text-align: center;
}

.separationHR {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    opacity: .75;
    border: 0;
    border-top: 1px solid #e7eaf3;
}

#col-infos {
    padding: 1%;
}

a {
    text-decoration: none !important;
}

.displaySet {
    display: flex;
    transition: all 250ms;
}

.displayUnset {
    display: none;
    transition: all 250ms;
}

.btn {
    transition: all 250ms;
}

.floatleft {
    float: left !important;
}

.floatright {
    float: right !important;
}

#succesTransac {
    color: #00c9a7;
    background-color: rgba(0,201,167,.1);
    padding: 0.5em;
}

#failedTransac {
    color: #c90000;
    background-color: rgba(201, 0, 0, 0.1);
    padding: 0.5em;   
}

.blockPassed {
    color: #00c9a7;
    background-color: rgba(0,201,167,.1);
    padding: 0.5em;
    margin-left: 1em
}

.value {
    background-color: rgba(119,131,143,.1);
    padding: 0.3rem 0.5rem;
}